<%= content_for :title do %>Optimizar las imágenes<% end %>
<h3>Optimizar las imágenes</h3>
<p>App te optimiza y cambia el nombre de las imágenes y te las guarda en las carpetas large/xlarge y comprime en .zip</p>

<% if @optimize.errors.any? %>
<div id="error_explanation" class="alert-box round alert">
  <ul>
  <% @optimize.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @optimize, remote: true, html: { class: 'form-dragndrop small-10 medium-6 large-4'} do |f| %>
	<%= content_tag :div, class: 'box__input' do -%>

	<%= label_tag :movil, "Nombre del archivo (sin extensión), idioma con patron #idioma#" %>
	<%= f.text_field :name, placeholder: 'Nombre (i.e. donyo_parking_#idioma#)' %>
	<%= label_tag :movil, "Clave para móvil (por defecto 'movil'):" %>
	<%= f.text_field :movil, placeholder: "Valor para movil, por defecto es 'movil'" %>
	<%= label_tag :general, "Clave para desktop (por defecto 'general'):" %>
	<%= f.text_field :general, placeholder: "Valor para general, por defecto es 'general'" %>
	<%= label_tag :quality, "Calidad de imagen (entre 30-100), por defecto 70:" %>
	<%= f.text_field :quality, placeholder: "Calidad de imagen, por defecto es 70" %>
	<%= f.file_field :image, multiple: true, 'id': :image, class: 'box__file', 'data-multiple-caption': '{count} archivos seleccionados' %>
	<%= content_tag :label, 'for': :image, class: 'box__label' do -%>
			<%= content_tag(:strong, 'Elige los archivos') %>
			<%= content_tag(:span, ' o arrástralos aquí', class: 'box__dragndrop') %>.
		<% end -%>
	<%= f.submit "Enviar", class: 'submit' %>
	<% end -%>
		<%= content_tag(:div, 'Subiendo...', class: 'box__uploading') %>
		<%= content_tag(:div, 'Hecho!', class: 'box__success') %>
		<%= content_tag(:div, "Error!", class: 'box__error') %>
<% end %>

<script>

var $export = 'optimizes';
var formUpload = document.getElementById('new_optimize');
var mySubmit = document.querySelector('.submit');

mySubmit.setAttribute('disabled', 'disabled');
</script>